In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
# For Visualization
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

In [8]:
tata_motors=pd.read_csv("/Users/pulin05/Downloads/Kaggle/NIFTY-50 Stock Market Data (2000 - 2021)/TATAMOTORS.csv")
tata_steel=pd.read_csv("/Users/pulin05/Downloads/Kaggle/NIFTY-50 Stock Market Data (2000 - 2021)/TATASTEEL.csv")
tcs=pd.read_csv("/Users/pulin05/Downloads/Kaggle/NIFTY-50 Stock Market Data (2000 - 2021)/TCS.csv")

In [11]:
tata_motors.head()
tata_motors.shape
tata_motors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5306 entries, 0 to 5305
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                5306 non-null   object
 1   Symbol              5306 non-null   object
 2   Series              5306 non-null   object
 3   Prev Close          5306 non-null   float64
 4   Open                5306 non-null   float64
 5   High                5306 non-null   float64
 6   Low                 5306 non-null   float64
 7   Last                5306 non-null   float64
 8   Close               5306 non-null   float64
 9   VWAP                5306 non-null   float64
 10  Volume              5306 non-null   int64
 11  Turnover            5306 non-null   float64
 12  Trades              2456 non-null   float64
 13  Deliverable Volume  4792 non-null   float64
 14  %Deliverble         4792 non-null   float64
dtypes: float64(11), int64(1), object(3)
memory usage: 621.9+ KB

In [13]:
tata_motors.isna().sum()

Date                     0
Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                2850
Deliverable Volume     514
%Deliverble            514
dtype: int64

In [14]:
tata_motors.duplicated().sum()

0